openapi: 3.0.3
info:
  title: 🍅 토마토 스마트팜 API
  description: |
    ## 개요
    SEED FARM 토마토 스마트팜 관리 시스템의 REST API 문서입니다.
    
    이 API는 n8n 워크플로우 기반으로 구현되어 있으며, 다음 기능을 제공합니다:
    
    - 🎥 **카메라 제어**: 라즈베리파이 카메라 원격 제어
    - 📊 **데이터 조회**: 실시간/히스토리/요약 데이터 조회
    - 🤖 **AI 분석**: YOLO 기반 토마토 분석, AI 챗봇
    - 💰 **시장 가격**: KAMIS 도매가, 온라인 가격 비교
    - 🌱 **수확량 예측**: ML 모델 기반 예측
    - 📝 **농장 일지**: 일지 조회/저장
    
    ## 서버 환경
    - **운영 서버**: http://seedfarm.co.kr:5678
    - **내부 서버**: http://192.168.49.101:5679
    
    ## 인증
    현재 API 키 인증이 필요한 엔드포인트는 `api_key` 파라미터를 사용합니다.
    
    ## 최종 테스트일
    2025-11-28 (모든 엔드포인트 정상 작동 확인)
    
  version: 1.1.0
  contact:
    name: SEED FARM 개발팀
    email: dev@seedfarm.co.kr
  license:
    name: ISC

servers:
  - url: http://seedfarm.co.kr:5678/webhook
    description: 운영 서버 (외부 접근용)
  - url: http://192.168.49.101:5679/webhook
    description: 내부 서버 (사내망 전용)

tags:
  - name: 📊 Data
    description: 토마토 분석 데이터 조회 API
  - name: 🎥 Camera
    description: 라즈베리파이 카메라 제어 API
  - name: 🤖 AI
    description: AI 챗봇 및 이미지 분석 API
  - name: 💰 Market
    description: 시장 가격 정보 API
  - name: 🌱 Prediction
    description: 수확량 예측 API
  - name: 📝 Diary
    description: 농장 일지 API
  - name: 🏠 Home
    description: 앱 홈 화면용 통합 API

paths:
  # ===== 데이터 조회 API =====
  /data-realtime:
    get:
      tags:
        - 📊 Data
      summary: 실시간 토마토 분석 데이터 조회
      description: |
        최근 1시간 이내의 마지막 YOLO 분석 결과를 반환합니다.
        
        **데이터 출처**: InfluxDB (bucket: minwoo, measurement: predict)
        
        **참고**: 최근 데이터가 없으면 모두 0으로 반환됩니다.
      operationId: getRealtimeData
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TomatoData'
              example:
                Ready: 45
                Not_Ready: 23
                Disease_Bad: 2
                Truss: 8
        '500':
          description: 서버 오류
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /data-history:
    get:
      tags:
        - 📊 Data
      summary: 과거 토마토 분석 데이터 조회
      description: |
        지정된 시간 범위의 시계열 데이터를 반환합니다.
        
        **사용 예시**:
        - 최근 30분: `?hours=0.5`
        - 최근 24시간: `?hours=24`
        - 최근 1주일: `?hours=168`
      operationId: getHistoryData
      parameters:
        - name: hours
          in: query
          description: 조회 기간 (시간 단위)
          required: false
          schema:
            type: number
            default: 1
            example: 24
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/TomatoDataWithTime'
              example:
                data:
                  - time: "2025-11-27T01:25:45Z"
                    Ready: 25
                    Not_Ready: 8
                    Disease_Bad: 4
                    Truss: 4
                  - time: "2025-11-27T01:26:55Z"
                    Ready: 23
                    Not_Ready: 13
                    Disease_Bad: 0
                    Truss: 12

  /data-summary:
    get:
      tags:
        - 📊 Data
      summary: 오늘 일일 요약 데이터 조회
      description: |
        오늘 00:00:00 (KST) 부터 현재까지의 마지막 데이터를 반환합니다.
        
        **참고**: 오늘 데이터가 없으면 모두 0으로 반환됩니다.
      operationId: getDailySummary
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DailySummary'
              example:
                total_ready: 0
                total_not_ready: 0
                total_disease: 0
                avg_truss: 0

  # ===== 카메라 제어 API =====
  /camera-capture:
    post:
      tags:
        - 🎥 Camera
      summary: 즉시 촬영 및 분석
      description: |
        라즈베리파이 카메라로 즉시 촬영하고 YOLO 분석을 수행합니다.
        
        **처리 순서**:
        1. 라즈베리파이 스냅샷 요청 (192.168.49.219:8080)
        2. YOLO 서버로 이미지 전송
        3. 분석 결과 InfluxDB 저장
        4. 결과 반환
      operationId: captureNow
      responses:
        '200':
          description: 촬영 및 분석 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CaptureResponse'
              example:
                success: true
                data:
                  Ready: 35
                  Not_Ready: 18
                  Disease_Bad: 2
                  Truss: 6
                  ripeness_rate: 66
                  disease_rate: 4
                timestamp: "2025-11-28T00:10:00Z"
        '500':
          description: 촬영 실패

  /capture-test:
    post:
      tags:
        - 🎥 Camera
      summary: 테스트 촬영 (랜덤 데이터)
      description: |
        라즈베리파이 없이 테스트용 랜덤 데이터를 생성하고 InfluxDB에 저장합니다.
        
        **개발/테스트 용도**로만 사용하세요.
        
        **생성 범위**:
        - Ready: 10~60
        - Not_Ready: 5~35
        - Disease_Bad: 0~5
        - Truss: 3~18
      operationId: captureTest
      responses:
        '200':
          description: 테스트 데이터 생성 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CaptureTestResponse'
              example:
                success: true
                message: "테스트 촬영 완료 - 데이터가 저장되었습니다"
                timestamp: "2025-11-28T00:10:49.414Z"
                data:
                  Ready: 27
                  Not_Ready: 10
                  Disease_Bad: 1
                  Truss: 14

  /camera-start:
    post:
      tags:
        - 🎥 Camera
      summary: 자동 모니터링 시작
      description: 설정된 간격으로 자동 촬영을 시작합니다.
      operationId: startMonitoring
      responses:
        '200':
          description: 모니터링 시작 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CameraStatusResponse'

  /camera-stop:
    post:
      tags:
        - 🎥 Camera
      summary: 자동 모니터링 중지
      description: 자동 촬영을 중지합니다.
      operationId: stopMonitoring
      responses:
        '200':
          description: 모니터링 중지 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CameraStatusResponse'

  /camera-status:
    get:
      tags:
        - 🎥 Camera
      summary: 카메라 상태 조회
      description: |
        현재 카메라의 모니터링 상태, 설정을 조회합니다.
        
        **실제 응답 확인일**: 2025-11-28
      operationId: getCameraStatus
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CameraStatus'
              example:
                streaming: true
                camera_ready: true
                has_frame: true
                monitoring: false
                interval: 600
                white_balance: "auto"
                last_capture: null
        '500':
          description: 카메라 서버 연결 실패
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Error in workflow"

  /camera-interval:
    post:
      tags:
        - 🎥 Camera
      summary: 촬영 간격 설정
      description: |
        자동 촬영 간격을 설정합니다.
        
        **허용 값**: 60(1분), 300(5분), 600(10분), 1800(30분), 3600(1시간)
      operationId: setCaptureInterval
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - interval
              properties:
                interval:
                  type: integer
                  description: 촬영 간격 (초)
                  enum: [60, 300, 600, 1800, 3600]
                  example: 600
      responses:
        '200':
          description: 설정 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CameraStatusResponse'

  /camera-white-balance:
    post:
      tags:
        - 🎥 Camera
      summary: 화이트 밸런스 설정
      description: 카메라 화이트 밸런스 모드를 설정합니다.
      operationId: setWhiteBalance
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - mode
              properties:
                mode:
                  type: string
                  description: 화이트 밸런스 모드
                  enum: [auto, fluorescent, tungsten, daylight]
                  example: auto
      responses:
        '200':
          description: 설정 성공

  # ===== AI API =====
  /chat-message:
    post:
      tags:
        - 🤖 AI
      summary: AI 챗봇 메시지 전송
      description: |
        토마토 재배 관련 AI 어시스턴트에게 메시지를 전송합니다.
        
        **기능**:
        - 텍스트만 전송: 재배 관련 질문 답변
        - 텍스트 + 이미지: YOLO 분석 후 맞춤 조언
        
        **사용 모델**: Google Gemini
      operationId: sendChatMessage
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - message
              properties:
                message:
                  type: string
                  description: 사용자 메시지
                  example: "토마토 재배에 적합한 온도는?"
                image:
                  type: string
                  format: binary
                  description: 토마토 이미지 (선택)
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatResponse'
              example:
                response: "안녕! 👋 반가워요! 저는 당신의 친근한 토마토 재배 도우미예요. 토마토 키우는 데 궁금한 점이 있다면 언제든지 물어보세요! 🍅"
                timestamp: "2025-11-28T00:14:00.412Z"
                success: true

  /capture-analyze:
    post:
      tags:
        - 🤖 AI
      summary: 이미지 YOLO 분석 (Base64)
      description: |
        Base64 인코딩된 이미지를 YOLO로 분석합니다.
        
        **앱에서 사용**: 카메라로 촬영 후 바로 분석할 때
      operationId: analyzeImage
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - image
              properties:
                image:
                  type: string
                  description: Base64 인코딩된 이미지
                mimeType:
                  type: string
                  default: "image/jpeg"
                fileName:
                  type: string
                  default: "capture.jpg"
      responses:
        '200':
          description: 분석 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyzeResponse'

  /disease-diagnosis:
    post:
      tags:
        - 🤖 AI
      summary: 병해충 AI 진단
      description: |
        토마토 이미지를 AI로 분석하여 병해충을 진단합니다.
        
        **진단 항목**:
        - 건강 상태 평가 (건강/주의/위험)
        - 발견된 증상
        - 원인 분석
        - 긴급 조치
        - 치료 방법
        - 예방 관리
      operationId: diagnoseDiseases
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - image
              properties:
                image:
                  type: string
                  description: Base64 인코딩된 이미지
                mimeType:
                  type: string
                  default: "image/jpeg"
      responses:
        '200':
          description: 진단 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiagnosisResponse'

  /raspberry-image:
    post:
      tags:
        - 🤖 AI
      summary: 라즈베리파이 이미지 수신
      description: |
        라즈베리파이에서 전송한 이미지를 수신하고 자동으로 YOLO 분석 후 InfluxDB에 저장합니다.
        
        **자동 처리 플로우**:
        1. 이미지 수신
        2. YOLO 분석
        3. InfluxDB 저장
        4. 이미지 파일 저장 (김제_실증_데이터저장소)
      operationId: receiveRaspberryImage
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - image
              properties:
                image:
                  type: string
                  format: binary
                  description: JPEG 이미지
      responses:
        '200':
          description: 처리 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  timestamp:
                    type: string
                    format: date-time

  # ===== 시장 가격 API =====
  /market-price:
    get:
      tags:
        - 💰 Market
      summary: 오늘 시장 가격 조회
      description: |
        KAMIS API를 통해 오늘의 토마토 도매 가격을 조회합니다.
        
        **데이터 출처**: 농산물유통정보 (KAMIS)
        
        **가격 단위**: 원/kg (p_convert_kg_yn=Y)
      operationId: getMarketPrice
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketPrice'
              example:
                success: true
                data:
                  item_name: "토마토"
                  kind_name: "토마토(1kg)"
                  unit: "5kg"
                  rank: "상품"
                  price: 3480
                  yesterday_price: 3560
                  week_ago_price: 4200
                  two_week_ago_price: 4960
                  month_ago_price: 25547
                  year_ago_price: 30509
                  change: -80
                  change_rate: -2.2
                  direction: "down"
                  date: "당일 (11/27)"
                  market: "전국 도매시장"

  /price-compare:
    get:
      tags:
        - 💰 Market
      summary: 도매가 vs 온라인가 비교
      description: |
        KAMIS 도매가와 네이버 쇼핑 온라인가를 비교합니다.
        
        **비교 항목**:
        - 도매가: KAMIS (상품/중품/방울토마토)
        - 온라인가: 네이버 쇼핑 (완숙토마토 1kg 기준)
        - 마진율 계산
      operationId: comparePrices
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PriceCompare'
              example:
                success: true
                date: "2025-11-27"
                wholesale_summary:
                  high: 3480
                  mid: 3120
                  cherry: 6200
                online_summary:
                  lowest_price: 5800
                  lowest_mall: "채소팜"
                  lowest_title: "채소팜 완숙토마토 1kg"
                  lowest_link: "https://smartstore.naver.com/main/products/10914338580"
                  median_price: 14700
                  highest_price: 23500
                  average_price: 14398
                  mall_count: 49
                comparison:
                  - grade: "상품"
                    wholesale_price: 3480
                    online_lowest: 5800
                    margin_rate: 67
                  - grade: "중품"
                    wholesale_price: 3120
                    online_lowest: 5800
                    margin_rate: 86
                sample_count: 49

  /price-history:
    get:
      tags:
        - 💰 Market
      summary: 가격 추이 조회
      description: |
        지정 기간의 토마토 가격 추이를 조회합니다.
        
        **기본값**: 최근 7일
        
        **참고**: 주말/공휴일 데이터는 제외됩니다.
      operationId: getPriceHistory
      parameters:
        - name: start
          in: query
          description: 시작일 (YYYY-MM-DD)
          required: false
          schema:
            type: string
            format: date
            example: "2025-11-20"
        - name: end
          in: query
          description: 종료일 (YYYY-MM-DD)
          required: false
          schema:
            type: string
            format: date
            example: "2025-11-27"
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PriceHistory'
              example:
                success: true
                period:
                  start: "2025-11-20"
                  end: "2025-11-27"
                count: 6
                data:
                  - date: "2025-11-20"
                    high: 4200
                    mid: 3640
                    cherry: 8000
                  - date: "2025-11-21"
                    high: 4120
                    mid: 3520
                    cherry: 7530
                  - date: "2025-11-24"
                    high: 4000
                    mid: 3400
                    cherry: 7460
                  - date: "2025-11-25"
                    high: 3680
                    mid: 3200
                    cherry: 6930
                  - date: "2025-11-26"
                    high: 3560
                    mid: 3160
                    cherry: 6660
                  - date: "2025-11-27"
                    high: 3480
                    mid: 3120
                    cherry: 6200
                stats:
                  high:
                    min: 3480
                    max: 4200
                    avg: 3840
                    change: -720
                  mid:
                    min: 3120
                    max: 3640
                    avg: 3340
                    change: -520
                  cherry:
                    min: 6200
                    max: 8000
                    avg: 7130
                    change: -1800

  # ===== 수확량 예측 API =====
  /yield-prediction:
    post:
      tags:
        - 🌱 Prediction
      summary: 수확량 예측
      description: |
        ML 모델을 사용하여 수확량을 예측합니다.
        
        **모델 정보**:
        - 사용 모델: v3_vinyl (비닐하우스), v3_glass (유리온실)
        - 정확도: R² = 0.9084
        - 학습 데이터: 103,000+ 건
        
        **필수 입력**: temperature, humidity
        **선택 입력**: month, co2, solar_radiation, growth_stage, facility_type
      operationId: predictYield
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/YieldPredictionRequest'
            example:
              temperature: 25
              humidity: 70
      responses:
        '200':
          description: 예측 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/YieldPredictionResponse'
              example:
                success: true
                predicted_yield: 2693.77
                predicted_yield_total: 816294.06
                confidence_interval:
                  lower: 2289.7
                  upper: 3097.84
                  confidence_level: "85%"
                model_used: "v3_vinyl"
                input_summary:
                  temperature: 25
                  humidity: 70
                  month: 11
                  facility_type: "비닐하우스"
                  area: 1000
                  has_historical_data: false
                recommendations:
                  - "✅ 현재 환경 조건이 양호합니다. 현 상태를 유지하세요."

  # ===== 농장 일지 API =====
  /app/diary:
    get:
      tags:
        - 📝 Diary
      summary: 농장 일지 조회
      description: 지정된 기간의 농장 일지(분석 기록)를 조회합니다.
      operationId: getDiary
      parameters:
        - name: days
          in: query
          description: 조회 기간 (일)
          required: false
          schema:
            type: integer
            default: 7
            example: 7
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiaryListResponse'

    post:
      tags:
        - 📝 Diary
      summary: 농장 일지 저장
      description: 오늘의 수확량과 메모를 저장합니다.
      operationId: saveDiary
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DiaryEntry'
            example:
              date: "2025-11-28"
              harvest_kg: 15.5
              memo: "오늘 병해 토마토 3개 제거"
      responses:
        '200':
          description: 저장 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  saved:
                    $ref: '#/components/schemas/DiaryEntry'

  # ===== 홈 API =====
  /app/home:
    get:
      tags:
        - 🏠 Home
      summary: 홈 화면 통합 데이터
      description: |
        앱 홈 화면에 필요한 모든 데이터를 통합하여 반환합니다.
        
        **포함 정보**:
        - 실시간 토마토 분석 데이터
        - 오늘 요약 (성숙률 포함)
        - 알림 (병해 감지, 수확 적기 등)
        - 스트리밍 URL
      operationId: getHomeData
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HomeData'
              example:
                success: true
                realtime:
                  ready: 27
                  not_ready: 10
                  disease: 1
                  truss: 14
                today_summary:
                  total_detected: 38
                  total_ready: 27
                  total_disease: 1
                  harvest_rate: 73
                alerts:
                  - type: "disease"
                    message: "병해 토마토 1개 감지"
                    time: "2025-11-28T00:11:08.437Z"
                    severity: "medium"
                stream_url: "http://seedfarm.co.kr:5678/stream"
                last_updated: "2025-11-28T00:11:08.437Z"

components:
  schemas:
    TomatoData:
      type: object
      description: YOLO 분석 결과 (대문자 필드)
      properties:
        Ready:
          type: integer
          description: 수확 가능한 완숙 토마토 수
          example: 45
        Not_Ready:
          type: integer
          description: 미성숙 토마토 수
          example: 23
        Disease_Bad:
          type: integer
          description: 병해충 감염 토마토 수
          example: 2
        Truss:
          type: integer
          description: 화방(꽃봉우리) 수
          example: 8

    TomatoDataLowerCase:
      type: object
      description: YOLO 분석 결과 (소문자 필드 - 앱용)
      properties:
        ready:
          type: integer
          example: 27
        not_ready:
          type: integer
          example: 10
        disease:
          type: integer
          example: 1
        truss:
          type: integer
          example: 14

    TomatoDataWithTime:
      type: object
      properties:
        time:
          type: string
          format: date-time
        Ready:
          type: integer
        Not_Ready:
          type: integer
        Disease_Bad:
          type: integer
        Truss:
          type: integer

    DailySummary:
      type: object
      properties:
        total_ready:
          type: integer
          description: 총 수확 가능 토마토
        total_not_ready:
          type: integer
          description: 총 미성숙 토마토
        total_disease:
          type: integer
          description: 총 병해 토마토
        avg_truss:
          type: integer
          description: 평균 화방 수

    CameraStatus:
      type: object
      description: 카메라 상태 (실제 테스트 결과 반영)
      properties:
        streaming:
          type: boolean
          description: 스트리밍 활성화 여부
          example: true
        camera_ready:
          type: boolean
          description: 카메라 준비 상태
          example: true
        has_frame:
          type: boolean
          description: 프레임 존재 여부
          example: true
        monitoring:
          type: boolean
          description: 자동 모니터링 활성화 여부
          example: false
        interval:
          type: integer
          description: 촬영 간격 (초)
          example: 600
        white_balance:
          type: string
          description: 화이트 밸런스 모드
          enum: [auto, fluorescent, tungsten, daylight]
          example: "auto"
        last_capture:
          type: string
          format: date-time
          nullable: true
          description: 마지막 촬영 시간
          example: null

    CameraStatusResponse:
      type: object
      properties:
        success:
          type: boolean
        message:
          type: string
        status:
          $ref: '#/components/schemas/CameraStatus'

    CaptureResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            Ready:
              type: integer
            Not_Ready:
              type: integer
            Disease_Bad:
              type: integer
            Truss:
              type: integer
            ripeness_rate:
              type: integer
              description: 성숙률 (%)
            disease_rate:
              type: integer
              description: 병해율 (%)
        timestamp:
          type: string
          format: date-time

    CaptureTestResponse:
      type: object
      properties:
        success:
          type: boolean
        message:
          type: string
          example: "테스트 촬영 완료 - 데이터가 저장되었습니다"
        timestamp:
          type: string
          format: date-time
        data:
          $ref: '#/components/schemas/TomatoData'

    ChatResponse:
      type: object
      properties:
        response:
          type: string
          description: AI 응답 메시지
        timestamp:
          type: string
          format: date-time
        success:
          type: boolean

    AnalyzeResponse:
      type: object
      properties:
        success:
          type: boolean
        message:
          type: string
        data:
          type: object
          properties:
            Ready:
              type: integer
            Not_Ready:
              type: integer
            Disease_Bad:
              type: integer
            Truss:
              type: integer
            ripeness_rate:
              type: integer
            disease_rate:
              type: integer

    DiagnosisResponse:
      type: object
      properties:
        success:
          type: boolean
        diagnosis:
          type: string
          description: AI 병해충 진단 결과 (마크다운 형식)
        healthStatus:
          type: string
          enum: [건강, 주의, 위험, 오류]
          description: 건강 상태 판정
        timestamp:
          type: string
          format: date-time

    MarketPrice:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            item_name:
              type: string
              example: "토마토"
            kind_name:
              type: string
              example: "토마토(1kg)"
            unit:
              type: string
              example: "5kg"
            rank:
              type: string
              example: "상품"
            price:
              type: integer
              description: 오늘 가격 (원/kg)
              example: 3480
            yesterday_price:
              type: integer
              description: 어제 가격
              example: 3560
            week_ago_price:
              type: integer
              description: 일주일 전 가격
              example: 4200
            two_week_ago_price:
              type: integer
              description: 2주 전 가격
              example: 4960
            month_ago_price:
              type: integer
              description: 한달 전 가격
              example: 25547
            year_ago_price:
              type: integer
              description: 1년 전 가격
              example: 30509
            change:
              type: integer
              description: 전일 대비 가격 변동
              example: -80
            change_rate:
              type: number
              description: 변동률 (%)
              example: -2.2
            direction:
              type: string
              enum: [up, down, same]
              example: "down"
            date:
              type: string
              description: 조회 기준일
              example: "당일 (11/27)"
            market:
              type: string
              example: "전국 도매시장"

    PriceCompare:
      type: object
      properties:
        success:
          type: boolean
        date:
          type: string
          format: date
        wholesale_summary:
          type: object
          description: 도매가 요약 (원/kg)
          properties:
            high:
              type: integer
              description: 상품
              example: 3480
            mid:
              type: integer
              description: 중품
              example: 3120
            cherry:
              type: integer
              description: 방울토마토
              example: 6200
        online_summary:
          type: object
          description: 온라인가 요약
          properties:
            lowest_price:
              type: integer
              example: 5800
            lowest_mall:
              type: string
              example: "채소팜"
            lowest_title:
              type: string
              example: "채소팜 완숙토마토 1kg"
            lowest_link:
              type: string
              format: uri
              example: "https://smartstore.naver.com/main/products/10914338580"
            median_price:
              type: integer
              example: 14700
            highest_price:
              type: integer
              example: 23500
            average_price:
              type: integer
              example: 14398
            mall_count:
              type: integer
              example: 49
        comparison:
          type: array
          items:
            type: object
            properties:
              grade:
                type: string
              wholesale_price:
                type: integer
              online_lowest:
                type: integer
              margin_rate:
                type: integer
                description: 마진율 (%)
        online_detail:
          type: array
          description: 온라인 상품 목록 (가격순)
          items:
            type: object
            properties:
              mall:
                type: string
              title:
                type: string
              price:
                type: integer
              price_per_kg:
                type: integer
              link:
                type: string
                format: uri
        sample_count:
          type: integer
          description: 비교 대상 상품 수

    PriceHistory:
      type: object
      properties:
        success:
          type: boolean
        period:
          type: object
          properties:
            start:
              type: string
              format: date
            end:
              type: string
              format: date
        count:
          type: integer
          description: 데이터 건수
        stats:
          type: object
          properties:
            high:
              $ref: '#/components/schemas/PriceStats'
            mid:
              $ref: '#/components/schemas/PriceStats'
            cherry:
              $ref: '#/components/schemas/PriceStats'
        data:
          type: array
          items:
            type: object
            properties:
              date:
                type: string
                format: date
              high:
                type: integer
              mid:
                type: integer
              cherry:
                type: integer

    PriceStats:
      type: object
      properties:
        min:
          type: integer
        max:
          type: integer
        avg:
          type: integer
        change:
          type: integer
          description: 기간 내 변동

    YieldPredictionRequest:
      type: object
      required:
        - temperature
        - humidity
      properties:
        month:
          type: integer
          description: 월 (1-12), 생략시 현재 월
          example: 11
        temperature:
          type: number
          description: 온도 (°C)
          example: 25
        humidity:
          type: number
          description: 습도 (%)
          example: 70
        co2:
          type: number
          description: CO2 농도 (ppm)
          default: 700
          example: 800
        solar_radiation:
          type: number
          description: 일사량 (J/㎠/day)
          default: 1200
          example: 1500
        growth_stage:
          type: string
          description: 생육 단계
          enum:
            - 생육초기
            - 생육중기(9~10월)
            - 생육중기(11~12월)
            - 생육중기(1~2월)
            - 생육중기(3~6월)
            - 생육말기(7~8월)
          example: "생육중기(11~12월)"
        facility_type:
          type: string
          description: 시설 타입
          enum:
            - 비닐하우스
            - 유리온실
          default: 비닐하우스

    YieldPredictionResponse:
      type: object
      properties:
        success:
          type: boolean
        predicted_yield:
          type: number
          description: 예측 수확량 (kg/3.3㎡)
          example: 2693.77
        predicted_yield_total:
          type: number
          description: 총 예측 수확량 (kg)
          example: 816294.06
        confidence_interval:
          type: object
          properties:
            lower:
              type: number
              description: 하한값
              example: 2289.7
            upper:
              type: number
              description: 상한값
              example: 3097.84
            confidence_level:
              type: string
              example: "85%"
        model_used:
          type: string
          description: 사용된 모델
          example: "v3_vinyl"
        input_summary:
          type: object
          description: 입력 데이터 요약
          properties:
            temperature:
              type: number
            humidity:
              type: number
            month:
              type: integer
            facility_type:
              type: string
            area:
              type: integer
            has_historical_data:
              type: boolean
        recommendations:
          type: array
          items:
            type: string
          description: AI 추천 사항

    DiaryEntry:
      type: object
      properties:
        date:
          type: string
          format: date
          description: 일지 날짜
        harvest_kg:
          type: number
          description: 수확량 (kg)
        memo:
          type: string
          description: 메모

    DiaryListResponse:
      type: object
      properties:
        success:
          type: boolean
        entries:
          type: array
          items:
            type: object
            properties:
              date:
                type: string
                format: date
              ready:
                type: integer
              not_ready:
                type: integer
              disease:
                type: integer
              truss:
                type: integer
              memo:
                type: string
        total_days:
          type: integer

    HomeData:
      type: object
      properties:
        success:
          type: boolean
        realtime:
          $ref: '#/components/schemas/TomatoDataLowerCase'
        today_summary:
          type: object
          properties:
            total_detected:
              type: integer
              description: 감지된 총 토마토 수
            total_ready:
              type: integer
              description: 수확 가능 토마토 수
            total_disease:
              type: integer
              description: 병해 토마토 수
            harvest_rate:
              type: number
              description: 성숙률 (%)
              example: 73
        alerts:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                enum: [disease, harvest, warning]
              message:
                type: string
              time:
                type: string
                format: date-time
              severity:
                type: string
                enum: [low, medium, high, info]
        stream_url:
          type: string
          description: 실시간 스트리밍 URL
        last_updated:
          type: string
          format: date-time

    ErrorResponse:
      type: object
      properties:
        success:
          type: boolean
          example: false
        error:
          type: string
          description: 에러 메시지
        code:
          type: string
          description: 에러 코드